*{
    margin:0;
    padding:0;
}
.vedio-container 
{
    width:100%;
    max-width: 100vw;
}

video{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.offer
{
    
    margin-left: 3rem;
    font-size: 3rem;
    color: white
}
.masala1
{
    display: flex;
    margin-top: 5rem;
    margin-left: 2rem;
}
.masala1-rate
{
    font-size: 1.5rem;
    width:20rem;
    height: 10rem;
    background-color:antiquewhite;
    justify-content: center;
}
div{
    width:20rem;
    height:10rem;
}
img{
    width:100%;
    height:10rem;
    object-fit: cover;
}
.masala5
{
    display: flex;
    margin-top: 5rem;
    margin-left: 2rem;
}
.masala5-rate
{
    font-size: 1.5rem;
    width:20rem;
    height: 10rem;
    background-color:#C3AFA7;
    justify-content: center;
}

.footer
{
    display: flex;
    background-color: antiquewhite;
    max-width: 100vw;
    width:100%;
    height:2rem;
}
.copyright
{
    background-color: antiquewhite;
    max-width: 100vw;
    width:100%;
    height:2rem;
}